*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}
nav a:hover {
    text-decoration: underline;
    color: #646cff;

}
nav .active {
    font-weight: bold;
    text-decoration: underline;
    color: #61dafb;
}
nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
nav .nav-links {
    display: flex;
    align-items: center;
}