/* Container */
.swiper-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 40px;
}

/* Swiper */
.Swiper {
  width: 100%;
  height: 350px;
}

/* Images */
.Swiper img {
  width: 100%;
  height: 100%;
 
  border-radius: 15px;
}

/* Pagination dots */
.swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #007bff;
  opacity: 1;
}
